body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #b6ddeb;
	align-items: center;	
	font-family: "fira-sans-2", Verdana, sans-serif;
}

input[type = text]{
	border-radius: 4px;
	border: 0px;
	border-radius: 32px;
	background-color: #4f88bd;
	font-size: 1.1em;
	width: 80%;
	padding: 16px;
	transition: .25s;
}

input[type = text]:hover{
	background-color: #3e77ac;
	transition: .25s;
}

.graph {
	align-items: flex-end;
	align-self: center;
	padding: 0;
	margin: 0;
	width: 75%;
	height: 20em;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: nowrap;
	border-bottom: 1pt solid #ccc;
	border-left: 1pt solid #ccc;
	margin: 1em;
	margin-left: auto;
	margin-right: auto;
}

.graph-cell {
	background: #4f88bd;
	width: 6.25%;
	margin-left: 2px;
	margin-right: 2px;
	transition: .25s;
}

.graph-cell:hover {
	background: #3e77ac;
	transition: .25s;
	cursor: pointer;
}

.ranges{
	align-items: flex-end;
	padding: 0;
	margin: 0;
	width: 75%;
	height: .25em;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: nowrap;
}

.range{
	text-align: center;
	width: 6.25%;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltiptext {
	pointer-events: none;
}
	
.tooltip .tooltiptext {
	pointer-events: none;
    width: 120px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}
	
.tooltip:hover .tooltiptext {
	background-color: rgba(0, 0, 0, 128);
    color: rgba(255, 255, 255, 255);
    transition: .25s;
}