body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "fira-sans-2", Verdana, sans-serif;
	overflow-y: scroll;
	color: #C2D5E5;
	background-color: #243C56;
}

#loadingDiv {
	width: 100%;
	text-align: center;
}

input[type = text]{
	font-size: 1.1em;
	width: 60%;
	transition: .125s;
	color: #c2d5e5;
}

input[type = text]:hover {
	background-color: #1e3248;
	transition: .125s;
}

input[type = text]:focus {
	background-color: #1e3248;
	transition: .125s;
}

.loading-image {
	height: 2in;
	width: auto;
	vertical-align: middle;
}

.graph {
	align-items: flex-end;
	align-self: center;
	padding: 0;
	margin: 0;
	width: 75%;
	height: 20em;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: nowrap;
	border-bottom: 1pt solid #86ADCA;
	border-left: 1pt solid #86ADCA;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
}

.graph-cell {
	background-color: #86ADCA;
	width: 6.25%;
	margin-left: 2px;
	margin-right: 2px;
	transition: .25s;
}

.graph-cell:hover {
	background: #C2D5E5;
	transition: .25s;
	cursor: pointer;
}


p.count {
	font-size: large;
	font-weight: bold;
}
div.xaxis {
	width: calc(75% + 2ex);
	margin-left: auto;
	margin-right: auto;
	color: #86ADCA;
	font-size: 10pt;
	text-align: center;
	padding-bottom: 1em;
}
div.xaxis>div.min {
	float: left;
}
div.xaxis>div.max {
	float: right;
}
div.xaxis>span {
	font-style: italic;
}
input{
	border-radius: 4px;
	border:2px solid #C2D5E5;
	padding: 10px;
	background-color: #243C56;
}
input[type=text] {
	width: 50em;
}
div#dummy {
	font-size: large;
	font-style: italic;
	color: #86ADCA;
}
div.loading {
	display: none;
}
div.bin {
	width: 100%;
	text-align: center;
}
ol.bin {
	list-style-type: none;
	display: block;
	width: 75%;
	padding: 0;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
ol.bin>li {
	display: block;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}
ol.bin>li>a {
	width: calc(100% - 10.5em);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	text-decoration: none;
	color: #86ADCA;
}
ol.bin>li>a:hover {
	color: #C2D5E5;
	transition: .125s;
}
ol.bin>li.lot>a {
	width: calc(100% - 20.5em);
}
ol.bin>li>span {
	text-align: right;
	display: inline-block;
}
ol.bin>li>span.price {
	width: 7em;
}
ol.bin>li:not(.lot)>span.price, ol.bin>li.lot>span.eachlabel {
	font-weight: bold;
}
ol.bin>li>span.qty {
	width: 3em;
}
ol.bin>li>span.each {
	width: 7em;
	font-weight: bold;
}
ol.bin>li>span.eachlabel {
	width: 3.5em;
}
ol.bin>li>span.price:before, ol.bin>li>span.each:before {
	content: '$';
}
ol.bin>li.lot>span.price:after {
	content: ' /';
}
ol.bin>li.lot>span.qty:after {
	content: ' =';
}
ol.bin>li:not(.lot)>span:not(.price) {
	display: none;
}

.ui-tooltip {
	border: 1px solid #C2D5E5 !important;
	box-shadow: 0 0 7px #86ADCA;
	background-color: #C2D5E5;
	color: #243C56;
}

.maxbin {
	position: absolute;
	right: 87.5%;
	top: 12.5rem;
}
